#kb-panel {
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 1em;
    height: 260px;
    background-color: silver;
    border-radius: 1em;
}

#kb-headline {
    font-size: 1.4em;
    font-weight: bold;
}

#kb-last-updated {
    font-size: xx-small;
}

#kb-open-dashboard {
    text-decoration: underline;
}

#kb-open-dashboard:hover {
    cursor: pointer;
}